.carousel.carousel-slider .control-arrow {
    width: 50px;
}
.carousel.carousel-slider .slide img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 340px;
} 

