.main-logo {
  margin: 10px 0 10px 25px;
}
.container-min {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  background-color: #dbd8d8;
  line-height: 2.5;
  z-index: 999;
  top: 0;
}
