.new-projects {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
}
.new-projects div {
    flex-basis: 22%;
    text-align: center;
}
.new-projects div:first-child {
    flex-basis: 78%;
    text-align: left;
}
.new-projects .search-projects {
    border: none;
}
.new-projects .button-new-projects{
    align-self: center;
}
.admin-position-content {
    padding-left: 300px;
    padding-top: 55px;
}
.delete-projects img {
    vertical-align: text-top;
}
.delete-projects:disabled img {
    opacity: 0.2;
}
.delete-projects > div {
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}
.delete-projects:disabled > div {
    cursor: default;
}
.delete-projects span {
    padding-left: 10px;
    font-size: 14px;
}